<div class="grid-game">
  <div class="game_info">
  </div>
  <div class="flex-container">
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
    <div class="area">map card</div>
  </div>
  <div>
    <button (click)="endGame()">End Game</button>
  </div>
</div>
